<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bill</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-pzjw8/4ov1D+PBbXDAvjsd/6Aqbd04uZxX1N1nIapJl3R6Uq0lf1a8TsmBVIbofg"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        min-height: 100svh;
        font-size: larger;
      }
      .thank {
    flex: 70%;
    font-size: 4.5vw;
}
.btn {
      width: 25%;
    }
    .logo {
      float: right;
       width: 20%;
      height: 80%
    }

  @media  (max-width: 700px) {
    .thank {
        font-size: 8vw; 
    }
    .btn {
      width: 50%;
    }
    .logo { 
      float: right;
       width: 50%;
      height: 80%
    }
  }
    </style>
  </head>

  <body>
    <main>
      <div class="container mt-4">
        <div class="card">
          <div class="card-body mx-4">
            <div class="container">
              <div class="d-flex">
                <p class="thank my-5 display-1" >
                  Thank you for your confidence
                </p>
                <img
                  src="/logo2.png"
                  alt="logo"
                  class="logo my-5"
              
                />
              </div>
              <div class="row">
                <ul class="list-unstyled">
                  <li class="text-black">Client Name: <%= bill.studentName %></li>
                  <li class="text-black mt-1">
                    Bill Date: <%= bill.billDate %>
                  </li>
                  <li class="text-black mt-1">
                    Class Date: <%= bill.classDate %>
                  </li>
                  
                </ul>
                
                <hr />
                
                <div class="col-xl-10">
                  <p id="length" data-bill-length=<%= bill.length %>><%= bill.length %>hr Class</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end" id="price" data-bill-price="<%= bill.price %>">$<%= bill.price %></p>
                </div>
                
                <hr />
                
              </div>

              
              <div class="row text-black">
                <div class="col-xl-12">
                  <p class="float-end fw-bold">
                    Total: $<%= bill.price %>
                  </p>
                </div>
                <hr style="border: 2px solid black" />
              </div>

              <div id="paid" style="font-size: 50%" data-bill-paid="<%= bill.paid %>">
              <button class="btn" id="checkout" style="margin: auto; display: block; "></button> 
            </div>
              
              <div class="text-center" style="margin-top: 90px">
                <p>Polonsky Tennis Academy</p>
                <p id="id" style="font-size: 50%;" data-bill-id="<%= bill.id %>"><%= bill.id %></p>
              </div>
            </div>

            
            
            
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });

      window.onload = async function () {
        var paid = document.getElementById("paid").dataset.billPaid
        
        if(paid != 1){
          document.getElementById('checkout').classList.add('btn-primary')
          document.getElementById('checkout').textContent = 'Pay'
        } else {
          document.getElementById("paid").removeChild(document.getElementById("checkout"))
          document.getElementById("paid").textContent = "Already Paid";
        }
      };
      
      const button = document.getElementById("checkout");
      button.addEventListener("click", async () => {
        const params = {
          length: document.getElementById('length').dataset.billLength,
          price: document.getElementById('price').dataset.billPrice,
          billId: document.getElementById('id').dataset.billId,
        };

        const res = await fetch("/create-checkout-session", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(params),
        });
        const data = await res.json();
        console.log(data);

        window.location.href = data.url;
      });
    </script>
  </body>
</html>
